# VisMTL 2015/03/23

<br>
<br>

In [1]:
import plotly
plotly.__version__

'1.6.6'

In [2]:
import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go

In [3]:
import numpy as np
import pandas as pd
import urllib2

In [4]:
import datetime
import locale
locale.setlocale(locale.LC_ALL, 'fr_CA.utf8')

'fr_CA.utf8'

### 1. Récupérer les données

In [9]:
# URL du fichier csv 
url_csv = 'http://donnees.ville.montreal.qc.ca/storage/f/\
2014-01-20T20%3A48%3A50.296Z/2013.csv'

fichier_csv = urllib2.urlopen(url_csv)
df = pd.read_csv(fichier_csv)

In [10]:
df.head()

,Date,Unnamed: 1,Berri1,CSC,Mais1,Mais2,Parc,PierDup,Rachel1,Totem_Laurier
0,01/01/2013,00:00,0,0,1,0,6,0,1,0
1,02/01/2013,00:00,69,0,13,0,18,0,2,0
2,03/01/2013,00:00,69,2,21,6,22,1,0,0
3,04/01/2013,00:00,80,0,22,4,16,0,125,0
4,05/01/2013,00:00,52,4,19,3,12,0,97,0

In [11]:
df.tail()

,Date,Unnamed: 1,Berri1,CSC,Mais1,Mais2,Parc,PierDup,Rachel1,Totem_Laurier
256,14/09/2013,00:00,2488,1494,1706,2911,979,1075,3277,2456
257,15/09/2013,00:00,2243,1749,1417,2933,1804,1459,3623,2527
258,16/09/2013,00:00,4206,2466,2799,5485,3272,855,4307,3012
259,17/09/2013,00:00,5506,3153,3563,6626,3882,1485,5332,3745
260,18/09/2013,00:00,1564,3330,1154,1803,4074,1759,1511,3921

In [12]:
df.shape

(261, 10)

### 2. Calcules

In [13]:
# Noms complets des sites
sites = ['Berri/<br>de Maisonneuve', 
         'Côte-Ste-Catherine<br>(parc Beaubien)',
         'de Maisonneuve/<br>Berri',
         'de Maisonneuve/<br>Peel',
         'du Parc/<br>Duluth',
         'Pierre-Dupuy<br>(Habitat 67)', 
         'Rachel/<br>Marquette', 
         'Laurier<br>(métro)']

In [14]:
# Liste de booléens correspondant à avril -> août
i_AA = ['/01/' not in date and 
            '/02/' not in date and 
            '/03/' not in date and 
            '/09/' not in date
            for date in df['Date']]

df = df[i_AA]

In [15]:
df.head()

,Date,Unnamed: 1,Berri1,CSC,Mais1,Mais2,Parc,PierDup,Rachel1,Totem_Laurier
90,01/04/2013,00:00,371,245,276,608,343,66,2315,524
91,02/04/2013,00:00,1055,547,669,1316,840,105,2835,818
92,03/04/2013,00:00,1030,614,719,1470,869,119,3085,947
93,04/04/2013,00:00,1466,855,1027,2022,1243,261,2492,1147
94,05/04/2013,00:00,1098,543,723,1384,761,145,2553,995

In [16]:
df.tail()

,Date,Unnamed: 1,Berri1,CSC,Mais1,Mais2,Parc,PierDup,Rachel1,Totem_Laurier
238,27/08/2013,00:00,5566,2805,3662,6355,3373,2153,5888,3738
239,28/08/2013,00:00,5560,2759,3717,6323,3355,1881,5673,3886
240,29/08/2013,00:00,5806,2766,3902,6713,3466,1941,6044,3995
241,30/08/2013,00:00,4381,2209,3019,5409,2724,1632,5109,3106
242,31/08/2013,00:00,2682,1018,1701,3178,1385,1494,3593,2303

In [17]:
z_site = np.array(df.sum(axis=0).tolist()[2:])

zip(sites, z_site)

[('Berri/<br>de Maisonneuve', '617472'),
 ('C\xc3\xb4te-Ste-Catherine<br>(parc Beaubien)', '272218'),
 ('de Maisonneuve/<br>Berri', '393995'),
 ('de Maisonneuve/<br>Peel', '716427'),
 ('du Parc/<br>Duluth', '367109'),
 ('Pierre-Dupuy<br>(Habitat 67)', '273008'),
 ('Rachel/<br>Marquette', '693354'),
 ('Laurier<br>(m\xc3\xa9tro)', '414548')]

In [21]:
dates = df['Date'].tolist()
     
Z_jourXsite = df.ix[:,2:].values.transpose()
    
dates_en_mots = [
    datetime.datetime.strptime(i,'%d/%m/%Y').strftime('%a, %b %d') 
    for i in dates]

ind_en_ordre = np.argsort(z_site)[::-1]
sites_en_ordre = [sites[i] for i in ind_en_ordre]

Z_jourXsite_en_ordre = Z_jourXsite[ind_en_ordre, :]

In [22]:
Z_jourXsite_en_ordre.shape

(8, 153)

### 3. Créer le graphique

In [34]:
colorbar = go.ColorBar(
    title='fdsfdsdfs',
    titleside='right',
    thickness=30,
    len=0.8,
    ticks='outside'
)

trace = go.Contour(
    x=dates_en_mots,
    y=sites_en_ordre,
    z=Z_jourXsite_en_ordre,
    colorscale='Greens',
    reversescale=True,
    line=go.Line(
        smoothing=1.5,
        width=1
    ),
    colorbar=colorbar
)

In [53]:
width = 1500
height = 800

title = "Progression journalière de l'achalandage cycliste à Montréal en 2013"

layout = go.Layout(
    autosize=False,
    width=width,
    height=height,
    title=title,
    titefont=go.Font(
        size=22
    ),
    font=go.Font(
        family='Droid, sans-serif', 
        color='#635F5D'
    ),
    xaxis=go.XAxis(
        autotick=False,
        dtick=7
    ),
    yaxis=go.YAxis(
        domain=[0.4, 1],
        autorange='reversed'

    ),
    yaxis2=go.YAxis(
        domain=[0, 0.3],
    ),
    margin=go.Margin(
        l=150
    )
)

In [54]:
fig = go.Figure(data=[trace], layout=layout)

py.plot(
    fig,
    filename='vismtl-2015-03-23',
    width=width,
    height=height,
    auto_open=False
)

u'https://plot.ly/~etpinard/2215'

<br>
<br>

<div style="float:right; \">
    <img src="http://i.imgur.com/4vwuxdJ.png" 
 align=right style="float:right; margin-left: 5px; margin-top: -10px" />
</div>

<h4>Got Questions or Feedback? </h4>

About <a href="https://plot.ly" target="_blank">Plotly</a>

* email: feedback@plot.ly 
* tweet: 
<a href="https://twitter.com/plotlygraphs" target="_blank">@plotlygraphs</a>

About the <a href="https://github.com/plotly/python-user-guide" target="_blank">User Guide</a>
 
* email: etienne@plot.ly
* tweet: <a href="https://twitter.com/etpinard" target="_blank">@etpinard</a>

<br>

In [18]:
from IPython.display import display, HTML
url = 'https://raw.githubusercontent.com/plotly/python-user-guide/master/custom.css'
display(HTML(urllib2.urlopen(url).read()))